:root {
  --body-color: #f5ecdb;
  --accent-color: #ad4601;
  --text-decoration: underline;
}

body {
  text-align: center;
  font-family: "Outfit", sans-serif;
  background-color: var(--body-color);
}

h2 {
  font-weight: 400;
  font-size: 40px;
}

h1 {
  font-weight: 600;
  font-size: 58px;
  margin-bottom: 0px;
  margin-top: -11px;
}

h6 {
  margin-top: 4px;
  margin-bottom: 60px;
  font-size: 20px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 22px;
  line-height: 1.7;
}

button {
  padding: 15px 25px;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-color);
  color: var(--body-color);
}

.margin {
  margin: 230px 0;
}

.launch-links {
  color: var(--body-color);
  text-decoration: none;
}
.launch-links:hover {
  color: var(--body-color);
  text-decoration: underline;
}

.text {
  text-align: left;
}

.weather-description,
.about-content {
  padding: 100px 60px 0;
}

.contact-links {
  margin: 30px 0 40px 0;
  display: flex;
  justify-content: space-evenly;
}

.about-button {
  margin-top: 15px;
}

.nav-color {
  color: var(--body-color) !important;
}

.about-me {
  text-decoration: var(--text-decoration);
  margin-bottom: 25px;
}

.my-work {
  text-decoration: var(--text-decoration);
  margin: 25px 0;
}

.contact-me {
  text-decoration: var(--text-decoration);
  margin-top: 35px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .navbar {
    padding-left: 0 !important;
  }

  h2 {
    font-size: 35px;
    margin-top: 100px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  h6 {
    margin-bottom: 27px;
  }

  button {
    margin-top: 5px;
  }

  .margin {
    margin: 0;
  }

  .weather-description,
  .writer-description,
  .about-content {
    padding: 10px;
  }

  .writer-description {
    margin-top: 0 !important;
  }

  .text {
    text-align: center;
  }

  .contact-links {
    display: inline;
  }
}
